<ul style="list-style-type:square;">
<li>Create a dataset</li>
<li>write the data into some csv file</li>
<li>read the data from csv file</li>
<li>remove or fill the null values of data set</li>
<li>now plot the data</li>
</ul>

In [1]:
# importing libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as mp
import random
global _total
_total = 1000

In [2]:
# now create the list of horse gender
horse_gender = []

for _ in range(_total):
    i = random.randrange(-5, 100)
    if i < 0:
        horse_gender.append(np.NaN)
    elif i % 2 == 0:
        horse_gender.append('M')
    else: horse_gender.append('F')
len(horse_gender)

1000

In [3]:
# crete the list of racer-horse
racer_horse = []

for _ in range(_total):
    i = random.randrange(-1, 100)
    if i < 0:
        racer_horse.append(np.NaN)
    elif i%2 == 0:
        racer_horse.append('Yes')
    else:
        racer_horse.append('No')
len(racer_horse)

1000

In [4]:
''' The data is collected from a website "horse and country"
that states, horse height does not much depends on their gender,
it is mostly depends on their their breed like 
Shetland-pony height = 28 to 42 inches,
whehter other breeds are bigger than this and 
they belongs in range of 55 to 65 and 65 to 72 inches max. 
website link: https://horseandcountry.tv/horse-height-and-weight-guide/
'''

' The data is collected from a website "horse and country"\nthat states, horse height does not much depends on their gender,\nit is mostly depends on their their breed like \nShetland-pony height = 28 to 42 inches,\nwhehter other breeds are bigger than this and \nthey belongs in range of 55 to 65 and 65 to 72 inches max. \nwebsite link: https://horseandcountry.tv/horse-height-and-weight-guide/\n'

In [5]:
# now collect the data of horse weight
''' Here i used the previous information to generate the new data of horses
the new data of horse is almost accurate
0 1 2 3 4 5 6 7 8 9 10 -> 100%
2 4 6 8 -> 36.36%
0 -> 9.09%
6/n(65) -> 1.53%
1 3 5 7 9 -> 45.45%
From here we can understand, 
height | my-data | web-data
60-70  |  36.36% |   35.42%
28-42  |  10.09% |   11.21%
71-72  |  01.53% |   01.34%
42-60  |  46.25% |   46.63%
nan -> 1.53(approx)%
'''

'''The data is collected from a website "horse and country"
that states horse weight does not depend on their gender, like height 
it also depends on the breed of horse. and that varies from
horses like pony weight in range of 180 to 300
and others 300 to 500, 500 to 900 and 900 to 1200 max in kgs.
shire horses weight varies from 700 to 1200 so mostly we try to avoid 
weight over 1000 kg.

height   | my-data  |  web-data
300-500  |  36.36%  |   35.42%
180-300  |  09.09%  |   11.21%
900-1200 |  01.53%  |   01.34%
500-900  |  45.25%  |   46.63%
nan -> 2(approx)%
'''

horse_height = []  # inches
horse_weight = []  # kgs

for _ in range(_total):
    i = random.randint(0, 10)
    
    if i == 0:
        horse_height.append(random.randint(28, 42))
        horse_weight.append(random.randint(180, 300))
    elif i == 6:
        j = random.randint(0, 55)
        if j == 6:
            horse_height.append(random.randint(71, 72))
            horse_weight.append(random.randint(900, 1200))
        else:
            horse_height.append(np.NaN)
            horse_weight.append(np.NaN)
    elif i % 2 == 0:
        horse_height.append(random.randint(60, 70))
        horse_weight.append(random.randint(300, 500))
    else:
        horse_height.append(random.randint(42, 60))
        horse_weight.append(random.randint(500, 900))
print(len(horse_height))
len(horse_weight)

1000

1000

In [6]:
# Creating a data frame 
horse_details = {
    'Serial no.': [i+1 for i in range(_total)],
    'Horse id': ['H'+str(i+1) for i in range(_total)],
    'Horse-Gender': horse_gender,
    'Horse-Height': horse_height,
    'Horse-Weight': horse_weight,
    'Racer-Horse': racer_horse 
}

horse_df = pd.DataFrame(horse_details)
horse_df

     Serial no. Horse id Horse-Gender  Horse-Height  Horse-Weight Racer-Horse
0             1       H1            F          66.0         383.0         Yes
1             2       H2            M          48.0         578.0          No
2             3       H3            F          70.0         326.0         Yes
3             4       H4            M          60.0         463.0         Yes
4             5       H5            F          67.0         395.0         Yes
..          ...      ...          ...           ...           ...         ...
995         996     H996            F          46.0         534.0         Yes
996         997     H997            F          61.0         325.0          No
997         998     H998            F          56.0         553.0          No
998         999     H999            F          68.0         349.0          No
999        1000    H1000            F          52.0         712.0         Yes

[1000 rows x 6 columns]

In [7]:
# now write this data to a CSV file
horse_df.to_csv('horse_details_file.csv')