In [1]:
''' Here, I am going to remove all null values and
going to fill null values of some column with central tendency
'''

' Here, I am going to remove all null values and\ngoing to fill null values of some column with central tendency\n'

In [2]:
import pandas as pd
import numpy as np
import os
global _path
_path = os.path.dirname(os.getcwd()) + '/horse data/horse-details.csv'
_path

'/Users/pan/Desktop/proj/Project MLHD/horse data/horse-details.csv'

In [3]:
# now read our data using pandas
hd = pd.read_csv(_path)
hdd

     Serial no. Horse id Horse-Gender  Horse-Height  Horse-Weight Racer-Horse
0             1       H1            M          51.0         543.0         Yes
1             2       H2            M          62.0         482.0          No
2             3       H3            M           NaN           NaN          No
3             4       H4            F           NaN           NaN          No
4             5       H5            F          60.0         731.0          No
..          ...      ...          ...           ...           ...         ...
995         996     H996            F          63.0         433.0          No
996         997     H997          NaN          60.0         355.0          No
997         998     H998            M          66.0         455.0         Yes
998         999     H999            F          48.0         769.0         Yes
999        1000    H1000            F          43.0         804.0         Yes

[1000 rows x 6 columns]

In [9]:
# now we want to take mean of horse-height and horse weight
height_mean = hd.dropna()['Horse-Height'].mean()
weight_mean = hd.dropna()['Horse-Weight'].mean()
print('height mean: ', height_mean)
'weight mean: ' + str(weight_mean)

height mean:  54.99655568312285

'weight mean: 551.4936854190586'

In [ ]:
# now we