In [1]:
''' Here, I am going to remove all null values and
going to fill null values of some column with central tendency
'''

' Here, I am going to remove all null values and\ngoing to fill null values of some column with central tendency\n'

In [2]:
import pandas as pd
import numpy as np
import os
global _path
_path = os.path.dirname(os.getcwd()) + '/horse data/horse-details.csv'
_path

'/Users/pan/Desktop/proj/Project MLHD/horse data/horse-details.csv'

In [3]:
# now read our data using pandas
hd = pd.read_csv(_path)
hd

,Serial no.,Horse id,Horse-Gender,Horse-Height,Horse-Weight,Racer-Horse
0,1,H1,F,69.0,598.0,No
1,2,H2,M,52.0,855.0,No
2,3,H3,M,70.0,641.0,Yes
3,4,H4,F,51.0,823.0,Yes
4,5,H5,F,61.0,826.0,NaN
...,...,...,...,...,...,...
99995,99996,H99996,F,60.0,355.0,No
99996,99997,H99997,F,62.0,333.0,Yes
99997,99998,H99998,F,62.0,520.0,No
99998,99999,H99999,F,60.0,782.0,Yes
99999,100000,H100000,F,51.0,NaN,No

In [4]:
# now we want to take mean of horse-height and horse weight
height_mean = hd.dropna()['Horse-Height'].mean()
weight_mean = hd.dropna()['Horse-Weight'].mean()
print('height mean: ', height_mean)
'weight mean: ' + str(weight_mean)

height mean:  55.09385278294791

'weight mean: 534.1120318196885'

In [6]:
hd.head(50)

    Serial no. Horse id Horse-Gender  Horse-Height  Horse-Weight Racer-Horse
0            1       H1            F          69.0         598.0          No
1            2       H2            M          52.0         855.0          No
2            3       H3            M          70.0         641.0         Yes
3            4       H4            F          51.0         823.0         Yes
4            5       H5            F          61.0         826.0         NaN
5            6       H6            M          49.0           NaN         Yes
6            7       H7            M          53.0         848.0          No
7            8       H8            F           NaN         611.0         Yes
8            9       H9            M           NaN         455.0          No
9           10      H10            F           NaN         260.0         Yes
10          11      H11            M          42.0         314.0          No
11          12      H12            F          60.0         339.0          No
12          13      H13            M          31.0         210.0         Yes
13          14      H14            F          37.0         374.0         Yes
14          15      H15            F          60.0         814.0         Yes
15          16      H16            F          60.0         235.0         Yes
16          17      H17            F          45.0         364.0         Yes
17          18      H18            M          53.0         590.0         Yes
18          19      H19            M          63.0         568.0         Yes
19          20      H20            M           NaN           NaN         Yes
20          21      H21            M          57.0         549.0         Yes
21          22      H22            F          56.0        1170.0         NaN
22          23      H23            F          50.0         181.0          No
23          24      H24            M          59.0         189.0          No
24          25      H25            M          66.0           NaN          No
25          26      H26            F          56.0         640.0         Yes
26          27      H27            M          68.0         842.0         Yes
27          28      H28            F          61.0         855.0          No
28          29      H29            M          69.0         439.0         Yes
29          30      H30            F          38.0         377.0          No
30          31      H31            M          67.0         589.0          No
31          32      H32            F          47.0         733.0          No
32          33      H33            M          58.0         501.0          No
33          34      H34          NaN          45.0         534.0         Yes
34          35      H35            F          43.0         845.0          No
35          36      H36            M           NaN         897.0          No
36          37      H37            M          52.0         484.0          No
37          38      H38            F          49.0         315.0          No
38          39      H39            F          44.0         454.0         Yes
39          40      H40            F          61.0         699.0          No
40          41      H41            M          67.0         274.0          No
41          42      H42            F          34.0         318.0         Yes
42          43      H43          NaN          48.0         315.0         Yes
43          44      H44            M          33.0         478.0          No
44          45      H45            F           NaN         307.0          No
45          46      H46            M          44.0         765.0          No
46          47      H47            M          50.0         325.0         Yes
47          48      H48            F          53.0         516.0          No
48          49      H49            M          62.0         399.0         Yes
49          50      H50            F          64.0         494.0         Yes