In [1]:
''' Here, I am going to remove all null values and
going to fill null values of some column with central tendency
'''

' Here, I am going to remove all null values and\ngoing to fill null values of some column with central tendency\n'

In [2]:
import pandas as pd
import numpy as np
import os
global _path
_path = os.path.dirname(os.getcwd()) + '/horse data/horse-details.csv'
_path

'/Users/pan/Desktop/proj/Project MLHD/horse data/horse-details.csv'

In [3]:
# now read our data using pandas
hd = pd.read_csv(_path)
hd

,Serial no.,Horse id,Horse-Gender,Horse-Height,Horse-Weight,Racer-Horse
0,1,H1,M,NaN,NaN,Yes
1,2,H2,F,56.0,522.0,No
2,3,H3,M,55.0,NaN,No
3,4,H4,M,NaN,686.0,Yes
4,5,H5,M,NaN,NaN,Yes
...,...,...,...,...,...,...
99995,99996,H99996,F,60.0,636.0,No
99996,99997,H99997,M,53.0,495.0,Yes
99997,99998,H99998,M,NaN,380.0,No
99998,99999,H99999,F,56.0,590.0,No
99999,100000,H100000,F,NaN,NaN,No

In [4]:
# now we want to take mean of horse-height and horse weight
height_mean = hd.dropna()['Horse-Height'].mean()
weight_mean = hd.dropna()['Horse-Weight'].mean()
print('height mean: ', height_mean)
'weight mean: ' + str(weight_mean)

height mean:  55.74684489234143

'weight mean: 605.1865304313342'

In [5]:
hd.head(50)

    Serial no. Horse id Horse-Gender  Horse-Height  Horse-Weight Racer-Horse
0            1       H1            M           NaN           NaN         Yes
1            2       H2            F          56.0         522.0          No
2            3       H3            M          55.0           NaN          No
3            4       H4            M           NaN         686.0         Yes
4            5       H5            M           NaN           NaN         Yes
5            6       H6            F           NaN         414.0          No
6            7       H7            F          68.0         975.0         Yes
7            8       H8            M          64.0           NaN          No
8            9       H9            M           NaN           NaN         Yes
9           10      H10            M          65.0         862.0         Yes
10          11      H11            F           NaN         180.0          No
11          12      H12            F          66.0           NaN         Yes
12          13      H13            F           NaN         374.0         Yes
13          14      H14            F           NaN         211.0          No
14          15      H15            F          57.0         514.0          No
15          16      H16            M           NaN         735.0          No
16          17      H17            M           NaN         407.0          No
17          18      H18          NaN           NaN           NaN         Yes
18          19      H19          NaN          58.0         620.0         Yes
19          20      H20            F          29.0         211.0         Yes
20          21      H21            F          63.0         705.0          No
21          22      H22            M           NaN           NaN         Yes
22          23      H23            M          44.0         320.0          No
23          24      H24            F          69.0           NaN          No
24          25      H25            F          60.0         685.0          No
25          26      H26            M           NaN           NaN         Yes
26          27      H27            F          72.0        1167.0          No
27          28      H28            F          60.0           NaN         NaN
28          29      H29            M          58.0         665.0         Yes
29          30      H30            F          67.0         941.0         Yes
30          31      H31            F          56.0         537.0         Yes
31          32      H32            M          61.0         722.0          No
32          33      H33            F          50.0           NaN          No
33          34      H34            F          60.0         620.0         Yes
34          35      H35            M           NaN         632.0         Yes
35          36      H36            F           NaN           NaN          No
36          37      H37            F           NaN           NaN          No
37          38      H38            F          64.0         880.0          No
38          39      H39            F          55.0         487.0         Yes
39          40      H40            F          56.0           NaN          No
40          41      H41            M          59.0           NaN          No
41          42      H42          NaN           NaN         304.0         Yes
42          43      H43            F          56.0         584.0         Yes
43          44      H44            F           NaN           NaN         Yes
44          45      H45            F          64.0         843.0         Yes
45          46      H46            F           NaN           NaN         Yes
46          47      H47            M           NaN         457.0          No
47          48      H48            M           NaN         752.0          No
48          49      H49            F          65.0         883.0          No
49          50      H50            M           NaN         822.0         Yes

In [6]:
# now create a csv file with removing all null values
hd.to_csv('no-null-horse-details.csv')

In [ ]:
# now we will fill all the null values with average value