<ul style="list-style-type:square;">
<li>Create a dataset</li>
<li>write the data into some csv file</li>
<li>read the data from csv file</li>
<li>remove or fill the null values of data set</li>
<li>now plot the data</li>
</ul>

In [2]:
# importing libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as mp
import random
global _total
_total = 100000

In [3]:
# now create the list of horse gender
horse_gender = []

for _ in range(_total):
    i = random.randrange(-5, 100)
    if i < 0:
        horse_gender.append(np.NaN)
    elif i % 2 == 0:
        horse_gender.append('M')
    else: horse_gender.append('F')
len(horse_gender)

100000

In [4]:
# crete the list of racer-horse
racer_horse = []

for _ in range(_total):
    i = random.randrange(-1, 100)
    if i < 0:
        racer_horse.append(np.NaN)
    elif i%2 == 0:
        racer_horse.append('Yes')
    else:
        racer_horse.append('No')
len(racer_horse)

100000

In [5]:
''' The data is collected from a website "horse and country"
that states, horse height does not much depends on their gender,
it is mostly depends on their their breed like 
Shetland-pony height = 28 to 42 inches,
whehter other breeds are bigger than this and 
they belongs in range of 55 to 65 and 65 to 72 inches max. 
website link: https://horseandcountry.tv/horse-height-and-weight-guide/
'''

' The data is collected from a website "horse and country"\nthat states, horse height does not much depends on their gender,\nit is mostly depends on their their breed like \nShetland-pony height = 28 to 42 inches,\nwhehter other breeds are bigger than this and \nthey belongs in range of 55 to 65 and 65 to 72 inches max. \nwebsite link: https://horseandcountry.tv/horse-height-and-weight-guide/\n'

In [7]:
'''The data is collected from a website "horse and country"
that states horse weight does not depend on their gender, like height 
it also depends on the breed of horse. and that varies from
horses like pony weight in range of 180 to 300
and others 300 to 500, 500 to 900 and 900 to 1200 max in kgs.
shire horses weight varies from 700 to 1200 so mostly we try to avoid 
weight over 1000 kg.'''

'The data is collected from a website "horse and country"\nthat states horse weight does not depend on their gender, like height \nit also depends on the breed of horse. and that varies from\nhorses like pony weight in range of 180 to 300\nand others 300 to 500, 500 to 900 and 900 to 1200 max in kgs.\nshire horses weight varies from 700 to 1200 so mostly we try to avoid \nweight over 1000 kg.'

In [8]:
''' Generalizing horse height and weight
28-42 : 180-300
42-55 : 300-500
55-65 : 500-900
65-72 : 900-1200
'''

' Generalizing horse height and weight\n28-42 : 180-300\n42-55 : 300-500\n55-65 : 500-900\n65-72 : 900-1200\n'

In [16]:
horse_height = []  # inches
horse_weight = []  # kgs

for _ in range(_total):
    i = random.randint(0, 10)
    
    if i == 0:
        temp = random.randint(0, 10)
        if temp == 0:
            horse_height.append(np.NaN)
            horse_weight.append(np.NaN)
        elif 5 <= temp <= 9:
            horse_height.append(random.randrange(28, 42))
            horse_weight.append(random.randrange(180, 300))
        elif temp % 2 == 0:
            horse_height.append(random.randrange(28, 42))
            horse_weight.append(np.NaN)
        else:
            horse_height.append(np.NaN)
            horse_weight.append(random.randrange(180, 300))
            
    elif 1 <= i <= 3:
        temp = random.randint(0, 10)
        if temp == 0:
            horse_height.append(np.NaN)
            horse_weight.append(np.NaN)
        elif 5 <= temp <= 9:
            horse_height.append(random.randrange(42, 55))
            horse_weight.append(random.randrange(300, 500))
        elif temp % 2 == 0:
            horse_height.append(random.randrange(42, 55))
            horse_weight.append(np.NaN)
        else:
            horse_height.append(np.NaN)
            horse_weight.append(random.randrange(300, 500))
            
    elif 4 <= i <= 9:
        temp = random.randint(0, 10)
        if temp == 0:
            horse_height.append(np.NaN)
            horse_weight.append(np.NaN)
        elif 5 <= temp <= 9:
            horse_height.append(random.randrange(55, 65))
            horse_weight.append(random.randrange(500, 900))
        elif temp % 2 == 0:
            horse_height.append(random.randrange(55, 65))
            horse_weight.append(np.NaN)
        else:
            horse_height.append(np.NaN)
            horse_weight.append(random.randrange(500, 900))
            
    else:
        temp = random.randint(0, 10)
        if temp == 0:
            horse_height.append(np.NaN)
            horse_weight.append(np.NaN)
        elif 5 <= temp <= 9:
            horse_height.append(random.randint(65, 72))
            horse_weight.append(random.randint(900, 1200))
        elif temp % 2 == 0:
            horse_height.append(random.randint(65, 72))
            horse_weight.append(np.NaN)
        else:
            horse_height.append(np.NaN)
            horse_weight.append(random.randint(900, 1200))

print(len(horse_height))
len(horse_weight)

100000

100000

In [17]:
# Creating a data frame 
horse_details = {
    'Serial no.': [i+1 for i in range(_total)],
    'Horse id': ['H'+str(i+1) for i in range(_total)],
    'Horse-Gender': horse_gender,
    'Horse-Height': horse_height,
    'Horse-Weight': horse_weight,
    'Racer-Horse': racer_horse 
}

horse_df = pd.DataFrame(horse_details)
horse_df.head(50)

    Serial no. Horse id Horse-Gender  Horse-Height  Horse-Weight Racer-Horse
0            1       H1            F          41.0         296.0          No
1            2       H2            M          41.0           NaN         Yes
2            3       H3            F          57.0           NaN          No
3            4       H4            M           NaN           NaN         Yes
4            5       H5            F          62.0         767.0         Yes
5            6       H6            M           NaN           NaN          No
6            7       H7            F          51.0           NaN         Yes
7            8       H8            M          59.0         541.0         Yes
8            9       H9            M           NaN         529.0          No
9           10      H10            F          56.0         747.0          No
10          11      H11            M          63.0           NaN          No
11          12      H12            F           NaN           NaN         Yes
12          13      H13            M          53.0           NaN         Yes
13          14      H14            F           NaN         483.0         Yes
14          15      H15            M          53.0         323.0          No
15          16      H16            F          57.0           NaN         Yes
16          17      H17          NaN          61.0           NaN          No
17          18      H18            M          63.0           NaN          No
18          19      H19            M          59.0         841.0         Yes
19          20      H20            M          61.0         519.0          No
20          21      H21            F          52.0           NaN         Yes
21          22      H22            F          62.0           NaN          No
22          23      H23            M          55.0           NaN          No
23          24      H24            M          56.0         844.0          No
24          25      H25            M          64.0         531.0          No
25          26      H26            F          65.0        1145.0          No
26          27      H27            F          65.0         961.0         Yes
27          28      H28            M          62.0         552.0         Yes
28          29      H29            M          55.0           NaN          No
29          30      H30            F          64.0           NaN         Yes
30          31      H31            F          69.0        1060.0          No
31          32      H32          NaN          61.0         864.0         Yes
32          33      H33            M          64.0           NaN         Yes
33          34      H34            M           NaN           NaN          No
34          35      H35            F           NaN         825.0          No
35          36      H36            F          59.0           NaN          No
36          37      H37            F          57.0           NaN         Yes
37          38      H38            F          70.0         946.0          No
38          39      H39            F          57.0           NaN         Yes
39          40      H40          NaN           NaN         184.0          No
40          41      H41            F           NaN         696.0         Yes
41          42      H42            F           NaN        1131.0          No
42          43      H43            M          54.0         428.0         Yes
43          44      H44            F          71.0        1043.0         Yes
44          45      H45            F           NaN           NaN          No
45          46      H46            M          42.0         343.0          No
46          47      H47            M           NaN           NaN          No
47          48      H48            F          60.0         655.0          No
48          49      H49            F          64.0         820.0         Yes
49          50      H50            M          72.0        1084.0          No

In [18]:
# now write this data to a CSV file
horse_df.to_csv('horse-details.csv', index=False)